/*.*******************Custom Properties*******.*/
:root {
    --first-color: #e52628;
    --first-alpha-color:#e52628bf;
    --second-color: #fff;
    --second-alpha-color: #ffffffc5;
    --third-color: #fbea26;
    --third-alpha-color:#fbe926be;
    --white-color: #fff;
    --gray-light-color: #cecece;
    --gray-color:#686868;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color:#333;
    --text-color:#222;
    --white-alpha-color: rgba(255,255,255,0.5);
    --black-alpha-color: rgba(0,0,0,0.5);
    --font:"Lobster","Roboto","Pacifico", "Raleway";
    --max-width:1200px;
    --header-height:5.5rem;   /*.*****tamañño cabeza*******.*/
    

}

/*.**************Fuentes **************.*/

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
  .lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
  }
  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

/*.***************Reset**************.*/
html{
    box-sizing:inherit;
    font-family:var(--font);
    font-size:1rem;
    scroll-behavior:smooth;
}
*,
*::after,
*::before{
    box-sizing:inherit;
}

body{
    margin: 0;
    overflow-x:hidden;
    color:var(--black-color);
    justify-content: center;
}

a{
    color:var(--link-color);
    text-decoration: none;
    transition:all 0.5s ease-out;
}

a:hover{
    color: var(--first-color);
    opacity: 0.75;
}

h1{
    margin: 0;
    font-size: clamp(2rem, 5vw, 3rem);
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

h3{
    margin: 0;
    font-size: 1.25rem;
}

h4{
    margin: 0;
    font-size: 1rem;
}

h5{
    margin: 0;
    font-size: 0.85rem;
}

h6{
    margin: 0;
    font-size: 0.7rem;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    
        line-height: 1.6;    
        margin: 0 0 1rem;
}

/*.**************Components**************.*/
/* Botones individuales */
.p-btn {
  flex: 1; /* Permite que los botones se distribuyan en partes iguales */
  margin: 0 2rem; /* Margen de 2rem a cada lado de cada botón */
  padding: 1rem 1.5rem; /* Tamaño del botón */
  text-align: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease; /* Transición suave al pasar el ratón */
  
}
.p-btn a{
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}
.step-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background-color: var(--first-alpha-color);
  transition: .4s;
  padding: 0;
}
/* Contenedor de los botones de navegación */
.p-btn-container1 {
  position: row;
  background-color: transparent;
  display: flex;
  justify-content: space-between; /* Espacio igual entre botones */
  align-items: center;
  position: relative;
  bottom: -45rem; /* Ajusta la posición vertical según tu diseño */
  width: 100%;
  padding: 0 14rem; /* Espacio lateral dentro del contenedor */
}
.p-btn-container1 a > svg{
  padding-bottom:0.7rem;
  padding-top: 0.5rem;
}
.btn { 
  display: inline-flex;
  justify-content:center;
  align-items: center;
  border-radius: 1.3rem;
  max-width: var(--max-width);
  height: 70px;
  font-weight:var(--font);
  font-size: 2rem;
  text-align:start;
  text-decoration:none;
  color: var(--third-color);
  background-color: var(--first-color);
  position:relative;
  overflow:hidden;
  flex-direction:column;
  transition: transform 0.3s;
}
.btn a{
  text-shadow: 1px 1px 10px black;

}

.btn:hover{
  transform:scale(1.15);
  color:var(--first-color);
  background-color: var(--third-alpha-color); /* Cambia el color cuando el botón esté en hover */
}
/******************************/
.anuncio{
  width: 100%;
  box-shadow: 2px 2px 5px rgba(16, 46, 219, 0.5);
  margin-top: 17rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 20.3rem;
  background-image: var(--hero-image2);
}
.p-btn-container2 {
  padding-top: 25rem;
  padding-bottom: 25rem;
  flex: 1; /* Permite que los botones se distribuyan en partes iguales */
  margin: 0; /* Margen de 2rem a cada lado de cada botón */
  margin-top: -15rem;
  margin-bottom: 0.1rem;
  padding: 1rem 1.5rem; /* Tamaño del botón */
  text-align: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease; /* Transición suave al pasar el ratón */
  
}
.p-btn-container2 a{
  padding: 1.2rem;
  font-size:1.8rem;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  color:var(--white-color);
  text-shadow: 1px 1px 2px var(--white-alpha-color); /* Sombra del texto */
  transition: color 0.4s ease, text-shadow 0.4s ease; /* Transición suave */

}
.p-btn-container2 a:hover {
  color: var(--first-color);
  background-color: var(--white-color);
  transform: scale(1.1);

}
.p-btn-container2 .btn{     
  margin-top: 6.4rem;                                                  /*funcion de la letra del bel boton arriba cotizacion*/
  color:var(--white-color);
  padding-left: 3.2rem;
  font-size:1.8rem;
  background-color: var(--first-color);
  box-shadow: 2px 2px 8px var(--third-color);

}

.p-btn-container2 .car-shopping{

margin-left: 0;
position: absolute;
width: 2.5rem;
margin-right: 10rem;
transition: transform 0.3s;
}
.p-btn-container2 .car-shopping:hover{
fill:var(--third-color);
}
.p-btn-container2 {
  position: row;
  background-color: transparent;
  display: flex;
  justify-content: space-between; /* Espacio igual entre botones */
  align-items: center;
  position: relative;
  bottom: -8rem; /* Ajusta la posición vertical según tu diseño */
  width: 100%;
  padding: 0 14rem; /* Espacio lateral dentro del contenedor */
  margin-bottom: 1rem;
}

.p-btn-container2 a{
  text-shadow: 1px 1px 10px black;

}

.p-btn-container2:hover{
  transform:scale(1.15);
  color:var(--first-color);
 /* Cambia el color cuando el botón esté en hover */
}
/*****horario******/
.horario {
  display: flex;
  margin: 0;
  width: 100%;
  height: var(--header-height);
  align-items: center;
  justify-content: center;

}
.horario .banner > a{
  font: var(--font);
  font-size: 1rem;
  color: var(--white-color);
  margin: 0;
  padding-top: 1rem;
  padding-left: 0.1rem;
  padding-bottom: 0.1rem;
  padding-right: 0.5rem;

}
.datos {
  display: flex;
  margin: 0;
  width: 100%;
  height: var(--header-height);
  align-items: center;
  justify-content: center;


}
.datos .banner2 > a{
  font: var(--font);
  font-size: 1rem;
  color: var(--white-color);
  margin: 0;
  padding-top: 0.3rem;
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

/*.******  Carrousel*****.*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(..//MM/assets/portfolio-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 330vh;
}

h2{
  text-align: center;
  font-size: 40px;
  font-family: arial;
  margin-top: 80px;
  color: aqua;
  text-shadow: 0px 0px 6px black;
}
.content-all {
  width: 100%;
  max-width: 207px;
  margin: auto;
  perspective: 780px;
  position: relative;
  margin-top: -4rem;
}

.content-carrousel {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  animation: rotar 12s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px var(--third-color);
  transition: all 500ms;
}

.content-carrousel figure:hover {
  box-shadow: 0px 0px 20px 0px var(--first-color);
  transition: all 300ms;
  transform: scale(1.2); /* Agrandar al pasar el cursor */
}

.content-carrousel figure:nth-child(1) { transform: rotateY(0deg) translateZ(300px); }
.content-carrousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(300px); }
.content-carrousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(300px); }
.content-carrousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(300px); }
.content-carrousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(300px); }
.content-carrousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(300px); }
.content-carrousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(300px); }
.content-carrousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(300px); }
.content-carrousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(300px); }
.content-carrousel figure:nth-child(10) { transform: rotateY(360deg) translateZ(300px); }

.content-carrousel img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.content-carrousel img:hover {
  transform: scale(1.1);
  transition: all 500ms;
}

/* Controles de navegación */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 10;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .content-all {
    margin-top: 0.5rem;
  }
  .content-carrousel figure {
    width: 160px;
    height: 90px;
  }
  
}

@media (min-width: 1080px) {
  .content-carrousel figure {
    width: 250px;
    height: 110px;
    width: 100%;
    max-width: 100%;
  }
  .content-carrousel img {
    width: 100%;
    transition: all 300ms;
  }
  .p-btn-container1 .btn{
    height: 9rem;  /*.***************************** tamaño de boton central hacia abajo***********************.*/
    width: 18rem;  
  }
        

}
.carousel-text{
  width: 100%;
  height: 15rem;
  text-align: center;
  padding: 10rem;
  line-height: 7rem; /* Centra el texto verticalmente */
  font-size: 5.5rem; /* Ajusta el tamaño de la fuente según necesites */
  color: #fff; /* Color del texto */
  background-color:transparent; /* Fondo semi-transparente */
  margin-top: 1rem; /* Espacio entre el carrusel y el texto */
  margin-bottom: -20rem; /* Espacio entre el texto y los botones */
  border-radius: 5px; /* Bordes redondeados */
  opacity: 0; /* Comienza invisible para la animación */
  transform: translateY(20px); /* Posición inicial para animación */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Animación */
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
/*.**********HeroImage*********.*/

.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: var(--hero-opacity-color);
}

.hero-image-title {
    width: 100%; /* Ancho al 50% de la pantalla */
    margin: 0 6rem; /* Centra el elemento horizontalmente */
    text-align: center; /* Centra el texto dentro del elemento */
    padding: 8rem; /* Añade espacio interno alrededor del texto */
    font-size: 3.3rem; /* Ajusta el tamaño de fuente según tus necesidades */
    color: #fff; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente (opcional) */;
    
  }
  
.espacio{
 width: 100%;
 height: 3rem;

}
/*-************Menu***********.*/
.social-buttons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 3rem;
    margin: 0; /* Eliminar márgenes para mantener el diseño limpio */
    margin-top: 0;
}

.social-buttons a {
    text-decoration: none;
    font-size: 0; /* Ajustado para ser más legible a este tamaño */
    width: 20px; /* Tamaño de los botones */
    height: 20px; /* Tamaño de los botones */
    line-height: 15px; /* Centra el texto y el SVG */
    text-align: center;
    background: var(--third-color);
    color: var(--black-color);
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000;
    transition: all 0.4s ease-in-out;
    margin-top: 0.8rem;
    margin-left: 16.5px; /* Separación entre los botones */
}

.social-buttons a:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer botón */
}

.social-buttons a:hover {
    transform: scale(1.5); /* Efecto hover */
    background:var(--first-color);
}

.social-buttons svg {
    width: 100%; /* Ajusta el tamaño del SVG dentro del botón */
    height: auto; /* Mantiene la proporción del SVG */
    vertical-align: middle; /* Alinea el SVG verticalmente */
}
/*.********************menu******************.*/
.menu-btn {
    outline:thin solid var(--first-color); /*hamburgueza*/
    border: var(--black-color) solid 1px;
    cursor:pointer;
    background-color:var(--black-color);
    fill: var(--white-color);
}
.menu-btn svg {
  fill: var(--third-color);   /*hamburgueza colorcitos*/
}
.menu {
    position:fixed;
    left:0;
    right: 0;
    bottom:var(--header-height);
    width:100%;
    display:flex;
    flex-direction:column;
    background-color:var(--second-color);
    opacity:0;
    pointer-events:none;    
    transition:opacity 0.5s ease;

}

.menu.is-active{           /* botones en hamburgueza*/
    opacity:1;
    pointer-events:auto;

}
.menu.is-active .car-shopping {
   transition:transform 0.3s;
}

.menu a{
    padding: 1.2rem;
    font-size:1.8rem;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    color:var(--first-color);
    text-shadow: 1px 1px 2px var(--white-alpha-color); /* Sombra del texto */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transición suave */

}
.menu a:hover {
    color: var(--black-color);
    background-color: var(--first-color);
    transform: scale(1.1);

  }
.menu .btn{                                                       /*funcion de la letra del bel boton arriba cotizacion*/
    color:var(--white-color);
    font-size:1.8rem;
    background-color: var(--first-color);
    box-shadow: 2px 2px 8px #000;

}

.menu .btn:hover {                                              /*color de la letra boton arriba cotizacion */
    color:var(--first-color);
    box-shadow: 0.1rem 0.25rem 0.0rem 0.1rem var(--third-color);
}


.menu .car-shopping{
  display: flex;
  margin-left: 0;
  position: flex;
  width: 2.5rem;
  margin-right: 1em;
  transition: transform 0.3s;
}
.menu .car-shopping:hover{
  fill:var(--third-color);
}
/* ********** Modal ********** */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/* Media Query para Responsividad */
@media (max-width: 700px) {
    .social-buttons a {
        width: 25px;                                              /* Mantiene el tamaño en pantallas pequeñas */
        height: 25px;
        line-height: 1rem;
        margin-top: 0.5rem;
    }
    .social-buttons svg{
      margin-top: 0.3rem;
      width: 1rem;
      height: 1rem;
    }
    .social-buttons svg:hover {
      margin-top: 0.2rem;
      width: auto;
      height: 1.2rem;
      fill:var(--third-color)
      }
    }

    
@media screen and (min-width:1024px) {
    .menu-btn{
        display: none;      
    }
    .menu{
        position:static;
        width:auto;
        flex-direction:row;
        opacity: 1;
        pointer-events:auto;
    }
    .menu a{
        padding: 1rem 2.7rem 1rem 1rem;
    }

    .menu a:last-child {
        padding-right: 1.6rem;          /*margenes de la letra boton cotizacion*/
        padding-left: 1.6rem;                /*espcacio boton izquierda*/
        padding-bottom: 1.2rem;
        padding-top:1.2rem;
    }
    .menu a:hover{
        background-color:transparent;

    }
    .social-buttons a {
      width: 25px; /* Mantiene el tamaño en pantallas pequeñas */
      height: 25px;
      line-height: 1rem;
      margin-top: 0.5rem;
      }
    .social-buttons svg{
      margin-top: 0.3rem;
      width: 1rem;
      height: 1rem;
      } 
    .social-buttons svg:hover {
      margin-top: 0.2rem;
      width: auto;
      height: 1.2rem;
      fill:var(--third-color)
      }
  }


/*.*************Utilities************.*/
.bg-gray-light {
    background-color:var(--gray);
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.25);
}


.container{
    margin-left:auto;
    margin-right:auto;
    max-width:var(--max-width);
}
.container1 {
  width: 80vw;
  font-family: var(--font);
  justify-content:space-between;
  gap: 0.5rem;
}
.gray-scale {
    filter: grayscale(1);
}
.none{
    display:none;
}

.section {
    padding: 2rem 1rem;
}

.section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color:var(--title-color);
    
}

.text-fisrt-color {
    color:var(--fisrt-color);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media screen and (min-width: 1024px) {
    .full-lg-screen {
      width: 100%;
      min-height: 100vh;
    }
  
    .text-lg-center {
      text-align: center;
    }
  
    .text-lg-left {
      text-align: left;
    }
    .text-lg-right {
      text-align: right;
    }
  }


.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.blur-out-expand-fwd {
	-webkit-animation: blur-out-expand-fwd 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: blur-out-expand-fwd 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bck-left {
	-webkit-animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bck-right {
	-webkit-animation: slide-in-bck-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.text-shadow-drop-br {
	-webkit-animation: text-shadow-drop-br 0.6s both;
	        animation: text-shadow-drop-br 0.6s both;
}
.scale-in-top {
	-webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}
.con-animate {
  position: relative;
  width: 100%;
  background: var(--white-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
  height: 50px;
  overflow:hidden
}
.con-animate > div {
  display: flex;
  width: 1280px;
  background: var(--first-color);

}
.con-animate > div a {
  width: 100%;
  height: auto;
}
.con-animate > .animate1 {
  position: absolute;
  left: 0px;
  animation: animate1 linear 5s infinite;
  transform: translate(0);
  margin-left: 0;
  margin-right: 0.1rem;
 }
.con-animate > .animate2 {
  position: absolute;
  left: 0;
  animation: animate2 linear 5s infinite;
  transform: translate(0);
}
@keyframes animate1 {
from {transform:translate(0%)}
to {transform:translate(-100%)}
}
@keyframes animate2 {
from {transform:translate(100%)}
to {transform:translate(0%)}
}
/* ----------------------------------------------
 * Generated by Animista on 2024-10-26 17:25:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-10-27 8:45:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
/* ----------------------------------------------
 * Generated by Animista on 2024-10-27 17:27:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blur-out-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes blur-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-4 2:55:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-400px);
            transform: translateZ(700px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-400px);
            transform: translateZ(700px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-4 2:57:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-right {
  0% {
    -webkit-transform: translateZ(700px) translateX(400px);
            transform: translateZ(700px) translateX(400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-right {
  0% {
    -webkit-transform: translateZ(700px) translateX(400px);
            transform: translateZ(700px) translateX(400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-4 2:58:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation text-shadow-drop-br
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-drop-br {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-br {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-4 3:1:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-4 3:3:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


/*.****.cotizacion-btn {

    outline: thin solid var(--second-color);
    border:40px;
    background-color:var(--first-color);
    cursor:pointer;

}*******.*/

/*.************Sites Styles **************.*/
.footer {
    margin-bottom: var(--header-height);
    padding: 0.5rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--third-color);
  }
small > .ult-opcion{
  display: inline-flex;
  margin: 0.2rem;
  height: 0.7rem;
  margin-bottom: 0.5rem;

}
small > .ult-opcion2{
  display: inline-flex;
  margin: 0.2rem;
  height: 0.7rem;
  margin-bottom: 0.5rem;

}
small > .ult-opcion3{
  display: inline-flex;
  margin: 0.2rem;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  margin-right: 60rem;
}
.ult-opcion4{
  display: inline-flex;
  margin: 0.2rem;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  margin-left: 20rem;
}
/*.****************whaaappp***************
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #FFF;
  background-color:#1ab152;
    
    animation: shake 1s;

 
  animation-iteration-count: infinite;
}

.my-float{
	margin-top:16px;
}


/**********************************************/
.header {
    position:fixed;
    left:0;
    right: 0;
    bottom:0;
    z-index:999;
    padding: 1rem;
    width:100%;
    height:var(--header-height);
    background-color:var(--second-color);
}

.header > .container {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo img{
    align-items:center;
    width: 50px;
    height:50px;
}

.logo a {
    color:var(--first-color);
    font-weight:bold;
    font-size:2rem;
    text-decoration:none;
    text-align: start;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0;
    padding-right: 1rem;
    text-shadow: 1px 2px 3px var(--gray-color);
    transition: color 0.3s ease, text-shadow 0.3s ease; 
    /*animacion de arriba logo */
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.3s both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.3s both;


}
.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

.portfolio-modal {
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--first-color);
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.portfolio-details b {
  color: var(--first-color);
}

@media screen and (min-width: 768px){
  .header{
    position:sticky;
    top: 0;
    padding: 0.5rem;
    height:calc(var(--header-height)-0.5rem);
 }
 .contact-cards {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
}

.portfolio > .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.portfolio .section-title {
  grid-column: span 2;
}

.portfolio-modal {
  max-width: 800px;
  flex-direction: row;
}

.portfolio-info {
  margin-left: 1rem;
  align-self: center;
}

.services > .container {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-between;
  align-content: center;
}

.services .section-title {
  grid-column: span 2;
}
}

@media screen and (min-width: 1024px){
 .footer {
    margin-bottom: 0;
 }
 .header{
    position:sticky;
    top: 0;
    padding: 0.5rem;
    height:calc(var(--header-height)-0.5rem);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
 }
 .header .btn {
    flex-direction:row;   /*********carrito ******/

 }
 .header .container .logo .img {
  margin: 0 5rem 5rem 0 5rem;
 }
 .logo a {
    display: flex;
    margin-top:0.3rem;
    margin-left: -5rem;   /*logo controles generales*/
    margin-right: -1rem;


 }

}